div {
  margin: 30px;
  padding: 10px;
  width: 100px;
  height: 30px;
}

#firstMode {
  border: 1px solid black;
}

#secondMode {
  outline: 1px solid red;
}

#thirdMode {
  box-shadow: 0 0 0 1px green;
}

#fourthMode {
  position: relative;
}

#fourthMode::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  padding: 10px;
  background-color: yellow;
}

#fourthMode::after {
  content: 'Fourth Mod';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  background-color: white;
}

#fifthMode {
  border-style: solid;
}